<div class="container-fluid chat-panel card">
  <div class="col-md-2 col-sm-4 col-xs-12 chat-panel-list">
    <div class="row m-b-0 p-b-0">
      <div class="form-group m-b-0 p-b-0">
        <input class="form-control m-b-0 b-r-0" placeholder="Buscar Conversación..." type="text">
      </div>
    </div>
    <div class="row m-t-0 p-t-0">
      <ul class="list-group m-t-0 b-r-0">
        <a href="#"
           class="list-group-item list-group-item-action">
          <div class="w-100 b-r-0">
            <h5 class="mb-1">Carlos Mendoza</h5>
            <small>Hace 3 horas</small>
          </div>
          <p class="mb-1">Auxilio estoy en problemas.</p>
          <small class="text-danger">En espera</small>
        </a>
      </ul>
    </div>
  </div>
  <div class="col-md-10 chat-panel-body">
    <div class="row col-md-12 chat-panel-body-title">
      <div class="col-sm-8 col-xs-8 col-md-4 offset-md-4 text-center">
        <h5>Carlos Mendoza</h5>
        <small>Hace 3 horas</small>
      </div>
      <div class="col-sm-4 col-xs-4 col-md-4 p-r-0">
        <div class="btn-group pull-right">
          <button class="btn btn-link btn-chat-inactive"><i class="fa fa-phone fa-2x"></i></button>
          <button class="btn btn-link" [ngClass]="{'btn-chat-inactive': !action}" (click)="action = !action"><i
            class="fa fa-info-circle fa-2x"></i></button>
        </div>
      </div>
    </div>
    <div class="col-xs-12" [ngClass]="{'col-md-9 col-sm-9':action, 'col-md-12 col-sm-12':!action}">
      <div class="row chat-panel-body-message">
        <div class="row msg_container base_sent">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
              <p>Auxilio estoy en problemas.</p>
              <time datetime="2009-11-13T20:00">Carlos Mendoza • 51 min</time>
            </div>
          </div>
          <div class="col-md-2 col-xs-2 avatar">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg"
                 class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row chat-panel-body-message-form">
        <textarea class="form-control b-r-0" [(ngModel)]="mensaje"></textarea>
        <div class="row">
          <div class="btn-group pull-right">
            <button class="btn btn-link btn-chat-inactive" (click)="sendMessage()"><i class="fa fa-send-o fa-2x"></i></button>
            <button class="btn btn-link btn-chat-inactive"><i class="fa fa-file-image-o fa-2x"></i></button>
            <button class="btn btn-link btn-chat-inactive"><i class="fa fa-file-archive-o fa-2x"></i></button>
            <button class="btn btn-link btn-chat-inactive"><i class="fa fa-file-audio-o fa-2x"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="action" class="col-md-3 col-sm-3 col-xs-12 chat-panel-body-action">
      <div *ngIf="panelOperation == 1">
        <div class="row">
          <div class="col-md-12 chat-panel-body-action-info">
            <h4>Datos de Cliente</h4>
            <address>
              <strong>Carlos Mendoza <a href="">ID:20504015</a></strong><br>
              1355 Market Street, Suite 900<br>
              San Francisco, CA 94103<br>
            </address>
            <address>
              <strong>Telefono</strong><br>
              <a href="tele:#">(123) 456-7890</a>
            </address>
            <address>
              <strong>Correo</strong><br>
              <a href="mailto:#">carlos.mendoza@example.com</a>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 chat-panel-body-action-info">
            <h4>Adjuntos</h4>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-md-6 col-xs-6">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 10vh;">
              </div>
            </div>
            <button class="btn btn-link" (click)="panelOperation = 2" style="margin-top: 5px">Ver más</button>
          </div>
          <div class="col-md-12 chat-panel-body-action-info">
            <h4>Panel de Acciones</h4>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-md-12 col-xs-12">
                <!--<button class="btn btn-info btn-block" (click)="panelOperation = 3"><i class="fa fa-edit"></i>
                  Generar Reporte
                </button>
                <button class="btn btn-warning btn-block"><i class="fa fa-ambulance"></i>
                  Llamar Emergencia
                </button>
                <button class="btn btn-warning btn-block"><i class="fa fa-cab"></i>
                  Llamar Policia
                </button>
                <button class="btn btn-warning btn-block"><i class="fa fa-fire-extinguisher"></i>
                  Llamar Bomberos
                </button>-->
                <button class="btn btn-danger btn-block"><i class="fa fa-times"></i> Finalizar Atención</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="panelOperation == 2">
        <div class="row">
          <div class="col-md-12 chat-panel-body-action-info">
            <h4>Adjuntos</h4>
            <div class="row" style="padding-bottom: 10px">
              <button class="btn btn-link" (click)="panelOperation = 1" style="margin-top: 5px"><i
                class="fa fa-arrow-circle-o-left"></i> Regresar
              </button>
            </div>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
              <div class="col-md-6 col-xs-6" style="margin-top: 10px;">
                <img src="https://dummyimage.com/600x400/000/fff" style="width: 100%; max-height: 20vh;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="panelOperation == 3">
        <div class="row">
          <div class="col-md-12 chat-panel-body-action-info">
            <h4>Reporte</h4>
            <div class="row" style="padding-bottom: 10px">
              <button class="btn btn-link" (click)="panelOperation = 1" style="margin-top: 5px"><i
                class="fa fa-arrow-circle-o-left"></i> Regresar
              </button>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Titulo</label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label>Tipo</label>
                <select class="form-control">
                  <option>Emergencia</option>
                  <option>Información</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label>Reporte</label>
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
              <div class="col-md-12 col-xs-12">
                <button class="btn btn-success btn-block" (click)="panelOperation = 1"><i class="fa fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
