<div class="row" *ngIf="control">
  <div class="alert alert-info">
    <p>Configurar listado de ofertas a mostrar a los clientes.</p>
  </div>


  <div class="col-md-12 p-r-0">
    <div class="col-md-8 row p-l-0">
      <div class="input-group p-l-0">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
    </div>

    <button class="btn btn-info pull-right" (click)="nuevo()"><i class="fa fa-plus"></i> Crear</button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-admin">
      <thead>
      <tr>
        <th class="col-md-2 text-center"><strong>Acciones</strong></th>
        <th class="col-md-1 text-center"><strong>Imagen</strong></th>
        <th class="col-md-8 text-center"><strong>Titulo</strong></th>
        <th class="col-md-1 text-center"><strong>Status</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oferta of listOfertas">
        <td class="col-md-2 p-a-1">
          <div class="btn-group">
            <button tooltip="Editar" class="btn btn-outline-info" (click)="editar(oferta)"><i class="fa fa-edit"></i>
            </button>
            <button tooltip="Eliminar" class="btn btn-outline-danger" (click)="eliminar(oferta)"><i
              class="fa fa-trash"></i></button>
          </div>
        </td>
        <td class="col-md-1 p-a-1 table-img"><img src="{{oferta.imagen[0].pequena}}" height="50" width="50"></td>
        <td class="col-md-8 p-a-1 text-center">{{oferta.titulo}}</td>
        <td class="col-md-1 p-a-1 text-center">
          <i class="fa"
             [ngClass]="{'text-success fa-check': (oferta.status==1),'text-danger fa-times': (oferta.status==0)}"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row" *ngIf="!control">
  <form #formEmergencia="ngForm" (submit)="guardar()" class="form-horizontal">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right" (click)="cancelar()"><i class="fa fa-times"></i> Cancelar</button>
    </div>

    <div class="form-group col-md-12">
      <label><b>Titulo *</b></label>
      <input class="form-control" name="nombre" [(ngModel)]="oferta.titulo" required>
    </div>

    <div class="form-group col-md-12">
      <label><b>Descripción *</b></label>
      <textarea class="form-control" name="descripcion" [(ngModel)]="oferta.descripcion" required></textarea>
    </div>

    <div class="form-group col-md-12">
      <label><b>Status * </b></label><br>
      <div class="btn-group">
        <button class="btn" type="button" (click)="oferta.status=1"
                [ngClass]="{'btn-info':(oferta.status==1), 'btn-outline-info':(oferta.status==0)}">Activo
        </button>
        <button class="btn" type="button" (click)="oferta.status=0"
                [ngClass]="{'btn-info':(oferta.status==0), 'btn-outline-info':(oferta.status==1)}">
          Inactivo
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <button type="submit" class="btn btn-success pull-right" [disabled]="!formEmergencia.form.valid"><i
        class="fa fa-save"></i> Guardar
      </button>
    </div>
  </form>
  <div class="row col-md-12">
    <form *ngIf="oferta.idOferta > 0">
      <div class="col-md-12">
        <p class="help-block text-info">Agregue el archivo que desea subir y luego darle a subir.</p>
      </div>
      <div class="form-group col-md-12">
        <label><b>Imagen *</b></label><br>
        <input type="file" class="form-control"
               ngFileSelect
               name="media"
               [options]="options"
               [events]="startUploadEvent"
               (onUpload)="handleUpload($event)"
               (onPreviewData)="handlePreviewData($event)">
        <button class="btn btn-outline-success m-t-1" (click)="startUpload()"><i class="fa fa-upload"></i> Subir
        </button>
        <br>
        <div class="well m-t-1"><img src="{{imagen}}"></div>
      </div>
    </form>
  </div>
</div>
