<div class="row" *ngIf="control">
  <div class="alert alert-info">
    <p>Configurar listado de oficinas disponibles.</p>
  </div>


  <div class="col-md-12 p-r-0">
    <div class="col-md-8 row p-l-0">
      <div class="input-group p-l-0">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
    </div>

    <button class="btn btn-info pull-right" (click)="nuevo()"><i class="fa fa-plus"></i> Crear</button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-admin">
      <thead>
      <tr>
        <th class="col-md-2 text-center"><strong>Acciones</strong></th>
        <th class="col-md-6 text-center"><strong>Nombre</strong></th>
        <th class="col-md-3"><strong>N° Telefono</strong></th>
        <th class="col-md-1 text-center"><strong>Status</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oficina of listOficinas">
        <td class="col-md-2 p-a-1">
          <div class="btn-group">
            <button tooltip="Editar" class="btn btn-outline-info" (click)="editar(oficina)"><i class="fa fa-edit"></i>
            </button>
            <button tooltip="Eliminar" class="btn btn-outline-danger" (click)="eliminar(oficina)"><i
              class="fa fa-trash"></i></button>
          </div>
        </td>
        <td class="col-md-6 p-a-1 text-center">{{oficina.nombre}}</td>
        <td class="col-md-3 p-a-1">{{oficina.telefono}}</td>
        <td class="col-md-1 p-a-1 text-center">
          <i class="fa"
             [ngClass]="{'text-success fa-check': (oficina.status==1),'text-danger fa-times': (oficina.status==0)}"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row" *ngIf="!control">
  <form #formEmergencia="ngForm" (submit)="guardar()" class="form-horizontal">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right" (click)="cancelar()"><i class="fa fa-times"></i> Cancelar</button>
    </div>

    <div class="form-group col-md-12">
      <label><b>Nombre *</b></label>
      <input class="form-control" name="nombre" [(ngModel)]="oficina.nombre" required>
    </div>

    <div class="form-group col-md-12">
      <label><b>N° de Telefono *</b></label>
      <input class="form-control" name="telefono" [(ngModel)]="oficina.telefono" required>
    </div>

    <div class="form-group col-md-12">
      <label><b>Correo *</b></label>
      <input type="email" class="form-control" name="email" [(ngModel)]="oficina.correo" required>
    </div>

    <div class="form-group col-md-12">
      <label><b>Direccion *</b></label>
      <input type="text" class="form-control" name="direccion" [(ngModel)]="oficina.direccion" required>
    </div>

    <div class="form-group col-md-12">
      <label><b>Status * </b></label><br>
      <div class="btn-group">
        <button class="btn" type="button" (click)="oficina.status=1"
                [ngClass]="{'btn-info':(oficina.status==1), 'btn-outline-info':(oficina.status==0)}">Activo
        </button>
        <button class="btn" type="button" (click)="oficina.status=0"
                [ngClass]="{'btn-info':(oficina.status==0), 'btn-outline-info':(oficina.status==1)}">
          Inactivo
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <button type="submit" class="btn btn-success pull-right" [disabled]="!formEmergencia.form.valid"><i
        class="fa fa-save"></i> Guardar
      </button>
    </div>
  </form>
</div>
