<div class="widgets">

  <div class="row">
    <div class="col-md-12">

      <ba-card baCardClass="with-scroll">
        <tabset>
          <!--<tab>
            <template tabHeading><i class="fa fa-cog"></i> Generales</template>
            <generales></generales>
          </tab>-->
          <tab>
            <template tabHeading><i class="fa fa-phone"></i> Llamadas de Emergencia</template>
            <emergencias></emergencias>
          </tab>
          <tab>
             <template tabHeading><i class="fa fa-location-arrow"></i> Listado de Oficinas</template>
             <oficinas></oficinas>
          </tab>
          <tab>
            <template tabHeading><i class="fa fa-hospital-o"></i> Información</template>
            <informacion></informacion>
          </tab>
          <tab>
            <template tabHeading><i class="fa fa-truck"></i> Ofertas</template>
            <ofertas></ofertas>
          </tab>
        </tabset>
      </ba-card>
    </div>
  </div>
</div>
<ng2-toasty [position]="'bottom-center'"></ng2-toasty>
