<div class="widgets">

  <div class="row">
    <div class="col-md-12">

      <ba-card baCardClass="with-scroll">
        <tabset>
          <tab>
            <template tabHeading><i class="fa fa-envelope"></i> Centro de Mensajes</template>
            <mensajes></mensajes>
          </tab>
        </tabset>
      </ba-card>
    </div>
  </div>
</div>
