<div class="row" *ngIf="control">
  <div class="alert alert-info">
    <p>Centro de recepción de mensajes</p>
  </div>


  <div class="col-md-12 p-r-0">
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-check"></i></span>
        <select (change)="filter()" name="tipo" id="tipo" required ngControl="tipo"
                class="form-control"
                [(ngModel)]="tipo">
          <option value="0">Todos los Tipos</option>
          <option value="1">Sugerencian</option>
          <option value="2">Reclamo</option>
          <option value="3">Pregunta</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <select (change)="filter()" name="sinResponder" id="sinResponder" required ngControl="sinResponder"
                class="form-control"
                [(ngModel)]="sinResponder">
          <option value="0">Todos los Mensajes</option>
          <option value="1">Respondidos</option>
          <option value="2">Sin respoder</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-admin">
      <thead>
      <tr>
        <th class="col-md-2 text-center"><strong>Acciones</strong></th>
        <th class="col-md-1 text-center"><strong>Tipo</strong></th>
        <th class="col-md-2 text-center"><strong>Usuario</strong></th>
        <th class="col-md-6"><strong>Asunto</strong></th>
        <th class="col-md-1 text-center"><strong>Respuesta</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list">
        <td class="col-md-2 p-a-1">
          <div class="btn-group">
            <button tooltip="Responder" class="btn btn-outline-info" (click)="editar(item)"><i
              class="fa fa-edit"></i>
            </button>
            <button tooltip="Eliminar" class="btn btn-outline-danger" (click)="eliminar(item)"><i
              class="fa fa-trash"></i></button>
          </div>
        </td>
        <td class="col-md-1 p-a-1 text-center">
          <span class="label label-warning" *ngIf="item.idTipoMensaje == 1">Sugerencia</span>
          <span class="label label-danger" *ngIf="item.idTipoMensaje == 2">Reclamo</span>
          <span class="label label-info" *ngIf="item.idTipoMensaje == 3">Pregunta</span>
        </td>
        <td class="col-md-2 p-a-1 text-center">{{item.username}}</td>
        <td class="col-md-6 p-a-1">{{item.asunto}}</td>
        <td class="col-md-1 p-a-1 text-center">
          <i class="fa"
             [ngClass]="{'text-success fa-check': (item.respuesta!='' && item.respuesta!=null),'text-danger fa-times': (item.respuesta=='' || item.respuesta==null)}"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row" *ngIf="!control">

  <div class="card">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right" (click)="cancelar()"><i class="fa fa-times"></i> Cerrar</button>
    </div>
    <div class="card-block">
      <h6 class="card-subtitle mb-2 text-muted"><strong>De:</strong> {{item.username}}</h6>
      <h4 class="card-title">{{item.asunto}}</h4>
      <p class="card-text"><strong>Mensaje:</strong><br> {{item.mensaje}}</p>
      <br>
      <label>Respuesta</label>
      <textarea class="form-control" [(ngModel)]="item.respuesta">

      </textarea>
      <button class="btn btn-success" class="card-link"(click)="guardar()">Enviar</button>
    </div>
  </div>
</div>
