<div class="row" *ngIf="control">
  <div class="alert alert-info">
    <p>La lista de pedidos realizados por los clientes se podran gestionar desde aqui, permitiendo actualizar el status
      de su pedido de tal manera que el cliente sepa en que situacion se encuentra dicho pedido.</p>
  </div>
  <div class="col-md-12 p-l-0">
    <div class="col-md-3 p-l-0">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-check"></i></span>
        <select class="form-control">
          <option>--Todos los Status--</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-alert"></i></span>
        <select class="form-control">
          <option>--Todos los tipo de reclamación--</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered table-admin">
      <thead>
      <tr>
        <th class="col-md-2 text-center"><strong>Acciones</strong></th>
        <th class="col-md-1 text-center"><strong>Codigo</strong></th>
        <th class="col-md-3 text-center"><strong>Nombre Asegurado</strong></th>
        <th class="col-md-2 text-center"><strong>N° de Placa</strong></th>
        <th class="col-md-2 text-center"><strong>Fecha</strong></th>
        <th class="col-md-1 text-center"><strong>Tipo</strong></th>
        <th class="col-md-1 text-center"><strong>Status</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="col-md-2 p-a-1">
          <div class="btn-group">
            <button tooltip="Ver pedido" class="btn btn-outline-info" (click)="openDetails()"><i
              class="fa fa-search"></i></button>
            <button tooltip="Eliminar" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
          </div>
        </td>
        <td class="col-md-1 p-a-1">557841</td>
        <td class="col-md-3 p-a-1">Carlos Mendoza</td>
        <td class="col-md-2 p-a-1">ABC-123</td>
        <td class="col-md-2 p-a-1">15-04-2017</td>
        <td class="col-md-1 p-a-1">Accidente</td>
        <td class="col-md-1 p-a-1 text-center"><i class="text-success fa fa-check"></i></td>
      </tr>
      </tbody>
    </table>
    <pagination class="m-t-1 pull-right" [nextText]="'Siguiente'" [previousText]="'Antes'" [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>

</div>
<div class="row" *ngIf="!control">
  <div class="col-md-12">
    <div class="btn-group pull-right">
      <button class="btn btn-info" (click)="imprimir()"><i class="fa fa-print"></i> Imprimir</button>
      <button class="btn btn-danger" (click)="cancelar()"><i class="fa fa-arrow-circle-left"></i> Regresar</button>
    </div>
  </div>

  <div class="form-group col-md-12">
    <label><b>Status * </b></label><br>
    <div class="btn-group">
      <button class="btn" (click)="status = 1" [ngClass]="{'btn-info':status == 1, 'btn-outline-info':status != 1}">
        Pendiente
        de aprobacion
      </button>
      <button class="btn" (click)="status = 2" [ngClass]="{'btn-info':status == 2, 'btn-outline-info':status != 2}">
        Requiere Revisíon
      </button>
      <button class="btn" (click)="status = 3" [ngClass]="{'btn-info':status == 3, 'btn-outline-info':status != 3}">
        Aprobado
      </button>
      <button class="btn" (click)="status = 4" [ngClass]="{'btn-info':status == 4, 'btn-outline-info':status != 4}">
        Cancelado
      </button>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive imprimir">
      <div class="table-responsive custom_datatable">
        <table class="table table-bordered" style="width:100%;margin:auto;text-align:left;">
          <tbody>
          <tr>
            <td rowspan="5" colspan="2">
              <h3 style="margin:8px 15px 0 63px;"><b>Reporte</b></h3>
              <b>Cliente: </b>Carlos Mendoza <b>Correo: </b>cmendoza5806@yahoo.com <b>Tipo: </b>VIP<br>
              <b>Dirección: </b> Paratepuy Manz 40 Casa 2, Puerto Ordaz, Bolivar. <br>
              <b>Vehiculo: </b>Chevrolet Spark <b>Placa: </b>ABC-123 <b>Color: </b>Verde <b>Año: </b>2015<br>
            </td>
          </tr>
          <tr>
            <td><b>N° de Reporte</b></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td><b>N° de Poliza</b></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td><b>Fecha Hora</b></td>
            <td colspan="2">15-04-2017</td>
          </tr>
          <tr>
            <td><b>Estatus Actual</b></td>
            <td colspan="2"> Activo</td>
          </tr>
          <tr>
            <td colspan="5"><h3><b>Detalles de reporte</b></h3></td>
          </tr>
          <tr>
            <td><b>Tipo</b></td>
            <td><b>Dirección</b></td>
            <td><b>Descripción</b></td>
          </tr>
          <tr>
            <td>Accidente</td>
            <td>Av Paseo Caroni</td>
            <td>Choque con autobus municipal ADF-123</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h3 class="text-center" style="margin-top: 10px"><b>Historial Chat</b></h3>
      <div class="row chat-panel-body-message">
        <div class="row msg_container base_sent" *ngFor="let i of arr(num).fill(1)">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
              <p>Auxilio estoy en problemas.</p>
              <time datetime="2009-11-13T20:00">Carlos Mendoza • 51 min</time>
            </div>
          </div>
          <div class="col-md-2 col-xs-2 avatar">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg"
                 class="img-responsive">
          </div>
        </div>
      </div>

      <h3 class="text-center" style="margin-top: 10px"><b>Imagenes</b></h3>
      <div class="row chat-panel-body-message">
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
        <div class="col-md-4 col-xs-4" style="margin-top: 10px;">
          <img src="https://dummyimage.com/400x400/000/fff" style="width: 100%; max-height: 20vh;">
        </div>
      </div>
    </div>
  </div>
</div>
