
.chat-panel {
  box-shadow: #0d4f8d;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.chat-panel-list {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden
}

.chat-panel-body{
  padding: 0px;
}

.chat-panel-body-title{
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: rgba(0, 0, 0, 0.4) thin solid;
  margin-left: 1px;
}

.chat-panel-body-title h5 {
  color: #1d2129;
  margin-bottom: 0px;
  font-size: 20px;
}

.chat-panel-body-message {
  height: 48vh;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 5px;
  border-bottom: rgba(0, 0, 0, 0.11) thin solid;
}

.chat-panel-body-message-form {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 5px;
}

.chat-panel-body-action{
  height: 68vh;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: rgba(0, 0, 0, 0.11) thin solid;
}

.chat-panel-body-action > h4 {
  color: rgba(0, 0, 0, 0.4);
}

.chat-panel-body-action-info {
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: rgba(0, 0, 0, 0.11) thin solid;
}

.chat-panel-body-action-info > address {
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.btn-chat-inactive {
  color: rgba(0, 0, 0, 0.4);
}

.img-responsive {
  width: 100%;
}

.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}
.msg_sent{
  padding-bottom:20px !important;
  margin-right:0;
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
.messages > time {
  font-size: 11px;
  color: #ccc;
}

.avatar {
  position: relative;
}

h3 {
  color: #396daa;
}



