<div class="row pie-charts">

  <ba-card *ngFor="let chart of charts"
           class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">

    <div class="pie-chart-item">
      <i class="{{ chart.icon }}"></i>
      <div class="description">
        <div>{{ chart.description }}</div>
        <div class="description-stats">{{ chart.stats | number }}</div>
      </div>
    </div>

  </ba-card>
</div>
