<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <pie-chart></pie-chart>
  </div>
</div>

<!--<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
           title="Distribución de Usuarios en el País" baCardClass="medium-card">
    <users-map></users-map>
  </ba-card>
</div>-->

<div class="row">
  <div class="col-xlg-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <ba-card title="Ultimas Acciones"
             baCardClass="xmedium-card with-scroll feed-panel">
      <feed></feed>
    </ba-card>
  </div>
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-12">
    <div class="row">
      <ba-card class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12" title="Pólizas Próximo a Vencer"
               baCardClass="xmedium-card feed-comply-panel with-scroll calendar-panel">
        <calendar></calendar>
      </ba-card>
      <ba-card class="col-xlg-3 col-lg-6 col-md-12 col-sm-12 col-12" title="Lista de tareas"
               baCardClass="xmedium-card feed-comply-panel with-scroll todo-panel">
        <todo></todo>
      </ba-card>
    </div>
  </div>
</div>

<div class="row shift-up">
</div>
