<div class="row">
  <div class="alert alert-info">
    <p>Las configuraciones generales afectan globalmente la página, pueden afectar la forma como se calcula el precio
      del producto o establecer parámetros de tiempo y precio para emitir compras por parte del cliente.</p>
  </div>
  <form #formConfiguracion="ngForm" (submit)="guardar()" class="form-horizontal">
    <div class="form-group col-md-12">
      <label><b>Porcentaje de iva (%) *</b></label>
      <input type="number" class="form-control" name="iva" required [(ngModel)]="configuracion.iva">
      <p class="help-block text-info">
        <small>El precio final del producto se mantendrá en las configuraciones pero al momento de emitir el comprobante
          aparecerá desglosado en 2 partes, el precio sin iva y el iva.
        </small>
      </p>
    </div>

    <div class="form-group col-md-12">
      <label><b>Monto máximo de transacción rápida referencial (Bs) *</b></label>
      <input type="number" class="form-control" name="montoMaximoTransaccionRapida" required [(ngModel)]="configuracion.montoMaximoTransaccionRapida">
      <p class="help-block text-info">
        <small>El monto facilitara que las transacciones menores al facilitado, se asocian como compras rápidas de
          emitir.
        </small>
      </p>
    </div>

    <div class="form-group col-md-12">
      <label><b>Tiempo de atención referencial (Horas) *</b></label>
      <input type="number" class="form-control" name="tiempoAtencionReferencial"  required [(ngModel)]="configuracion.tiempoAtencionReferencial">
      <p class="help-block text-info">
        <small>Permite establecer un tiempo referencial al cliente de cuanto puede esperar su pedido luego de haber
          realizado la transacción.
        </small>
      </p>
    </div>

    <div class="col-md-12">
      <button class="btn btn-success pull-right" type="submit" [disabled]="!formConfiguracion.form.valid"><i class="fa fa-save"></i> Guardar</button>
    </div>
  </form>
</div>
