<div class="widgets">

  <div class="row">
    <div class="col-md-12">

      <ba-card baCardClass="with-scroll">
        <tabset>
          <tab>
            <template tabHeading><i class="fa fa-file-text-o"></i> Reportes</template>
            <list-pedidos></list-pedidos>
          </tab>
          <tab>
            <template tabHeading><i class="fa fa-file-text-o"></i> Reportes</template>
            <list-pedidos></list-pedidos>
          </tab>
        </tabset>
      </ba-card>
    </div>
  </div>
</div>
